﻿

span#usuarioInvalido
{
	color: Red;
}

div#cabecalho
{
    background-color: white;
    padding: 10px 10px 10px 10px;
    /* background-image: url("../img/logo_itau.gif"); //1477 */
    background-repeat: no-repeat;
    height: 30px;
    vertical-align: middle;
}

    div#cabecalho h1
{
    position: absolute;
    display: inline;        
    color: black;
    border: 0;    
    font-size: 1.5em;
    font-family: Arial;
    text-align: center;}

.titulo
{
    margin: 0 0 0 20px    
}
div#opcoesGlobais
{
    float: right;
    margin: 10px 140px 0px 0px;
	height: 30px;
	width: 283px;
	text-align: right;
}
    
div#opcoesGlobais a
{
    text-decoration: underline;
    color: Black;
}

div#opcoesGlobais a:visited
{
    text-decoration: underline;
}

div#main
{
    background-color: #F0F0F0;
    border: solid 1px black;
    margin: 20px auto;
    width: 1024px;
}

div#paineis
{
    float: left;
    width: 200px;
    background-color: white;
}

div#conteudo
{
    background-color: #F0F0F0;    
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 220px;
}

div#rodape_login
{
    color: #666699;
    font-size: x-small;
    vertical-align: middle;
    padding-bottom: 5px;
    background-color: #F0F0F0;
    text-align: center;
}

/*
border-style: solid none none none;
    background-color: white;
    color: #003399;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    font-size: x-small;
    border-top-width: medium;
    font-weight: bold;
    border-top-color: #A6C2FF;
  */  
div#painelUsuario
{
    border: solid 1px black;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: lightgray;
    color: darkblue;
}


/* -------------------------------------------------------------------- */

form.cmxform fieldset {
    margin-bottom:10px;
}
form.cmxform legend {
    font-weight:bold;
    padding:0 2px;
}
form.cmxform label {
    display:inline-block;
    line-height:1.8;
    vertical-align:top;
}
form.cmxform fieldset ol {
    margin:0;
    padding:0;
}
form.cmxform fieldset li {
    list-style:none outside none;
    margin:0;
    padding:5px;
}
form.cmxform fieldset fieldset {
    border:medium none;
    margin:3px 0 0;
}
form.cmxform fieldset fieldset legend {
    font-weight:normal;
    padding:0 0 5px;
}
form.cmxform fieldset fieldset label {
    display:block;
    width:auto;
}
form.cmxform em {
    color:#FF0000;
    font-style:normal;
    font-weight:bold;
}
form.cmxform label {
    width:202px;
}
form.cmxform fieldset fieldset label {
    margin-left:123px;
}

/* -------------------------------------------------------------------- */

form.cmxform {
    font: 62.5% Verdana,Sans Serif;
    padding:0 10px;
    color:#333333;
    font-size:0.9em;
    width:600px;
}
form.cmxform legend {
    padding-left:0;
}
form.cmxform legend, form.cmxform label {
    color:#333333;
}
form.cmxform fieldset {
    /* background:url("../img/cmxform-fieldset_laranja.jpg") repeat-x scroll left bottom transparent; //1477 */
    border-color:black -moz-use-text-color -moz-use-text-color;
    border-right:medium none;
    border-style: solid none none;
    border-width:1px medium medium;
}
form.cmxform fieldset fieldset {
    background:none repeat scroll 0 0 transparent;
}
form.cmxform fieldset li {
    /* background:url("../img/cmxform-divider.gif") repeat-x scroll left bottom transparent; //1477 */
    padding:5px 10px 7px;
}

