﻿/* ---------------------------------------------------------------------------
    CSS para Menus
    O menu é criado através do par UL e LI, com um A como link.
    Atenção para os submenus, que devem ter o UL antes do A, para que seja
        identificado pelo CSS como submenu (na passagem UL + A).
   --------------------------------------------------------------------------- */

ul.menu ul
{
	list-style: none;
}

ul.menu li 
{
	position: relative;
}

ul.menu li ul 
{
	position: absolute;
	display: none;
	z-index: 200;
}

ul.menu > li
{
    display: inline;
    float: left;
}

ul.menu ul li a 
{
    display: block;
}

ul.menu li:hover > ul 
{ 
    display: block; 
}

