﻿#menu ul {
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	width: 700px;
}

#menu li {
	float: left;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 20px;
	padding: 5px 15px 0px 20px;
	background: url(img/img02.jpg) no-repeat right 50%;
}

#menu img {   
	margin: 0px 3px -3px 0px;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .last {
	background: none;
}

#menu .active a {
}

.sub_escondido
{
    display: none;
}

.sub_espacado
{
    height: 50px;
}

#menu .temFilhos
{
    background: url(img/iconTemFilhos_Last.png) no-repeat;
    background-position: right;
}