﻿ul.menu
{
    width: auto;
    height: 14px;
    margin: 0;
    padding: 4px 0px 4px 30px;
    background-color: #D2D7D5;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
}

ul.submenu
{
    width: auto;
    height: 14px;
    margin: 0;
    padding: 4px 0px 4px 30px;
    background-color: #f0f0ff;
    border-bottom: solid 1px darkgray;
}

ul.menu ul
{
	margin: 0;
	padding: 0;
	width: 1024px;
	border: solid 1px darkgray;
	background-color: #f0f0ff;
}

ul.submenu ul
{
	margin: 0;
	padding: 0;
	width: 1024px;
	border: solid 1px darkgray;
	background-color: #f0f0ff;
}

ul.menu li ul 
{
	left: 0px;
	top: 0px;
}

ul.menu > li > a
{
	border-left: 0;
}

ul.menu > li:first-child > a
{
}

ul.menu a 
{
	text-decoration: none;
	color: black;
	padding: 4px 20px 4px 20px;
}

ul.submenu a 
{
	text-decoration: none;
	color: #777;
	padding: 4px 20px 4px 20px;
}

ul.menu > li > ul
{
    left: 0px;
    top: 18px;
}

ul.menu > li:hover > a
{
    background-color: gray;
    color: White;
}

ul.submenu li:hover > a
{
    background-color: Yellow;
}

ul.menu ul ul + a
{
    background-image: url('Img/flechinha_direita.gif');
    background-repeat: no-repeat;
    background-position: right;
    background-color: Transparent;
}