﻿ul.menu
{
    width: auto;
    height: 13px;
    margin: 0;
    padding: 4px 0px 4px 30px;
    background-color: #A6C2FF;
    border-top: solid 1px #333333;
    border-bottom: solid 1px #333333;    
    font-weight: bold;
}

ul.menu ul
{
    margin: 0;
    padding: 0;
    width: 210px;
    border: solid 1px darkgray;
    background-color: #f0f0ff;    
}


ul.menu li ul 
{
	left: 210px;
	top: 0px;
}

ul.menu > li > a
{
	border-left: 0;

}

ul.menu > li:first-child > a
{
}



ul.menu a 
{
	text-decoration: none;
	color: #000066;
	padding: 4px 20px 4px 20px;
}

ul.menu > li > ul
{
    left: 0px;
    top: 17px;
}

ul.menu > li:hover > a
{
    background-color: #333333;
    color: #FFFFFF;
}

ul.menu ul li:hover > a
{
    background-color: Transparent;
    color: #3399FF;
}

ul.menu ul ul + a
{
    background-image: url('Img/flechinha_direita.gif');
    background-repeat: no-repeat;
    background-position: right;
    background-color: Transparent;
    
}