﻿body
{
    padding: 5px;
    font-size: 7px;
    font-family: Arial,Verdana,Times New Roman;
}

h1
{
    font-size:12px;
    font-weight:bold;
}

.conteudo
{
    width: 100%;
    height: 100%;
}

.cabecalho1
{
    width: 65%;
}

.filtro1
{
    width: 60px;
}

.filtro2
{
    width: 60px;
}

.filtro3, .filtro5,  .filtro9
{
    width: 140px;
}

.filtro4
{
    width: 80px;
}

.filtro6
{
    width: 70px;
}

.filtro7
{
    width: 220px;
}

.filtro8
{
    width: 70px;
}

.filtro10
{
    width: 100px;
}

.filtro11
{
    width: 100px;
}

.periodo1
{
    width: 50px;
}

.periodo2
{
    width: 55px;
}

.periodo3
{
    width: 115px;
}

.periodo4
{
    width: 70px;
}

.periodo5
{
    width: 120px;
}

.periodo6
{
    width: 70px;
}

.periodo7
{
    width: 150px;
}

.resultado9
{
    width: 6%;
}

.resultado1
{
    width: 80px;
}

.resultado2
{
    width: 70px;
}

.resultado3
{
    width: 80px;
}

.resultado4
{
    width: 220px;
}

.resultado5
{
    width: 90px;
}

.resultado6
{
    width: 90px;
}

.resultado7
{
    width: 90px;
}

.resultado8
{
    width: 90px;
}

.resultado9
{
    width: 80px;
}

.resultado10
{
    width: 80px;
}

.resultado11
{
    width: 220px;
}

.resultado12
{
    width: 70px;
    text-align:right;
}

.resultado13
{
    width: 80px;
}

.right
{
    text-align: right;
}

.espacoRight
{
//    padding-right: 8px;
    text-align: right;
}

.espacoLeft
{
    padding-left: 8px;
}

.espacoTop
{
    padding-top: 4px;
}

.espacoBotton
{
    padding-bottom: 10px;
}

.espacoColuna
{
    /*padding-left: 10px;*/
}

.espacoCampo
{
    /*padding-left: 7px;*/
}

.labelNegrito
{
    font-weight: bold;
}

.bordaTopFina
{
    border-top: solid 1px #4682B4;
}

.bordaTopGrossa
{
    border-top: solid 2px #4682B4;
}

.bordaBottomFina
{
    border-bottom: solid 1px #4682B4;
}

.bordaBottomGrossa
{
    border-bottom: solid 2px #4682B4;
}

