﻿body /*1465*/
{
    font-family:Arial,Times New Roman;
    font-size:12px;
}
table
{
    width:100%;
    border: solid 1px #4682B4; 
    repeat-header: yes;
}
h1
{
    font-size:14px;
    font-weight:bold;
}
span
{
	font-size:13px;
}
.direita
{
    text-align:right;
}
.esquerda
{
    text-align:left;
}
.centro
{
    text-align:center;
}
.linhaGrossa
{
	height:10px; 
	border-bottom:solid 2px #4682B4;	
}
.fixoTexto
{ 
	width: 80px;
}
.fixoValor
{ 
	width: 50px;
}
.total
{
	padding-top:15px;
}
.grupo
{
	padding-bottom:10px;
}
.grande
{
	font-size:13px;
}
.medio
{
	font-size:11px;
}
.pequeno
{
    font-size:10px;
}
.conteudo
{
    margin:8px;
}
.negrito
{
    font-weight:bold;
}
