﻿body
{
    font-family:Arial,Times New Roman;
    font-size:12px;
}
fieldset
{
    margin:5px;
    border:solid 1px black; 
    width: 100%;
}

h1
{
    font-size:14px;
    font-weight:bold;
}

.destaque
{
    font-size:14px;
    font-weight:bold;
}

.itens
{
    font-weight:bolder;   
}

.table
{
    width:100%;
    border:1;
}

.total
{
	padding-top:15px;
}

.grupo
{
	padding-bottom:5px;
}

.grande
{
	font-size:13px;
}

.medio-grande
{
	font-size:12px;
}

.medio
{
	font-size:11px;
}

.QtdeTransacaoRecebimento
{
	font-size:11px;
}

.pequeno
{
    font-size:10px;
}

.conteudo
{
    margin:8px;
}

.negrito
{
    font-weight:bold;
}

.aspGrid
{
    border-style:none;
}

.aspGrid .aspGrid_iten
{
    border-style:none;
}

.aspGrid .aspGrid_header
{
    
    font-weight:bolder;
    border-style:none;
}

.tbFiltros
{
	border-top:		solid 1px #4682B4;
	border-left:	solid 1px #4682B4;
	border-right:	solid 1px #4682B4;
	width:			100%;
}

.tbValores
{
	border-bottom:	solid 1px #4682B4;
	border-left:	solid 1px #4682B4;
	border-right:	solid 1px #4682B4;
	width:			100%;
}
th
{
   font-weight:normal;
   text-align:left;
}