﻿body
{
    font-family:Arial,Times New Roman;
    font-size:12px;
}
fieldset
{
    margin:5px;
    border:solid 1px black; 
    width: 100%;
}

.linhaGrossa
{
	height:10px; 
	border-bottom:solid 2px #4682B4;	
}

.linhaFina
{ 
	border-bottom:solid 1px #4682B4;	
}

h1
{
    font-size:14px;
    font-weight:bold;
}

.table
{
    width:100%;
    border:1;
}

.total
{
	padding-top:15px;
}

.grupo
{
	padding-bottom:10px;
}

.grande
{
	font-size:13px;
}

.medio
{
	font-size:11px;
}

.pequeno
{
    font-size:10px;
}

.conteudo
{
    margin:8px;
}

.negrito
{
    font-weight:bold;
}

.aspGrid
{
    border-style:none;
}

.aspGrid .aspGrid_iten
{
    border-style:none;
}

.aspGrid .aspGrid_header
{
    
    font-weight:bolder;
    border-style:none;
}
