﻿body
{
    font-family:Arial,Times New Roman;
    font-size:12px;
}
fieldset
{
    margin:5px;
    border:solid 1px black; 
    width: 100%;
}

h1
{
    font-size:14px;
    font-weight:bold;
}

.grande
{
	font-size:13px;
}

.medio
{
	font-size:11px;
}

.pequeno
{
    font-size:10px;
}

.negrito
{
    font-weight:bold;
}
