﻿#site_configuracao_grupo_detalhe
{
    width: 600px;
}

#site_configuracao_grupo_detalhe input
{
    width: 282px;
}

#site_configuracao_grupo_detalhe textarea
{
    width: 281px;
}

#site_configuracao_grupo_detalhe table tr
{
    vertical-align: top;
}