﻿#site_arquivo_detalhe .tvwCriticas li span
{
    cursor: pointer;
}

#site_arquivo_detalhe .selected > span
{
    font-weight: bold;
    color: darkblue;
}

#site_arquivo_detalhe .titulo
{
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: #E5E5E5;
}

#site_arquivo_detalhe td.separador
{
    width: 30px;
}

#site_arquivo_detalhe .txtNomeArquivo
{
    width: 500px;
}

#site_arquivo_detalhe .abas
{
    border: 0;
}