﻿#site_processo_extrato .detalhe
{
    background-color: #f5f5f5;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 10px;
    line-height: 24px;
}

#site_processo_extrato .detalhe label
{
    display: inline-block;
    width: 200px;
}

#site_processo_extrato .detalhe input
{
    padding: 3px;
    width: 500px;
}

#site_processo_extrato .detalhe span.separador
{
    display: inline-block;
    width: 30px;
}

#site_processo_extrato .detalhe  .inputleft
{
    padding: 3px;
    width: 490px;
}

#site_processo_extrato .detalhe  .inputright
{
    padding: 3px;
    width: 230px;
    margin-left: 50px;
}


#labelDiretorio 
{
    margin-left: 203px;
}

#labelNomeArquivo
{
    margin-left: 348px;
}