﻿#site_processo_atacadao .detalhe
{
    background-color: #f5f5f5;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 10px;
    line-height: 24px;
}

#site_processo_atacadao .detalhe label
{
    display: inline-block;
    width: 120px;
}

#site_processo_atacadao .detalhe  .inputleft
{
    padding: 3px;
    width: 490px;
}

#site_processo_atacadao .detalhe  .inputright
{
    padding: 3px;
    width: 360px;
    margin-left: 50px;
}

#site_processo_atacadao .detalhe span.separador
{
    display: inline-block;
    width: 30px;
}

#site_processo_atacadao .detalhe #cabecalho_coluna_1
{
    margin-left: 0px;
    width: 120px;
}

#site_processo_atacadao .detalhe #cabecalho_coluna_2
{
    margin-left: 80px;
}

#site_processo_atacadao .detalhe #cabecalho_coluna_3
{
    margin-left: 500px;
}