﻿#site_processo_pagamento .detalhe
{
    background-color: #f5f5f5;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 10px;
    line-height: 24px;
}

#site_processo_pagamento .detalhe label
{
    display: inline-block;
    width: 120px;
}

#site_processo_pagamento .detalhe input
{
    padding: 3px;
    width: 25px;
}

#site_processo_pagamento .detalhe span.separador
{
    display: inline-block;
    width: 30px;
}

#site_processo_pagamento .detalhe  .inputleft
{
    padding: 3px;
    width: 490px;
}

#site_processo_pagamento .detalhe  .inputright
{
    padding: 3px;
    width: 230px;
    margin-left: 50px;
}

#labelDiretorio
{
    margin-left: 123px;
}

#ckbOrigemExtrato, #ckbOrigemAtacadao
{
    width: 25px;
}