﻿
#filtroDetalhe .label_detalhe1
{

    position:relative; 
    left: 15px;
    /*height: 18.5px;*/
	border-color: #B5B5B5;    
}

#filtroDetalhe .label_detalhe2
{
	
    position:relative; 
    left: 30px;
    border-color: #B5B5B5; 
	
}

/*Jira 963 - Marcos Matsuoka*/

#filtroDetalhe .label_detalhe3
{
	
    position:relative; 
    left: 35px;
    border-color: #B5B5B5; 
	
}

/*
#filtroDetalhe .label_detalhe4
{
	
    position:relative; 
    left: 35px;
    width:125px;
    border-color: #B5B5B5; 
	
}
*/

/* 963
#filtroDetalhe .label_detalhe5
{
	
    position:relative; 
    left: 15px;
    width:3px;
    border-color: #B5B5B5; 
    font-size: 8pt;     
	
}
*/
#filtroDetalhe .label_detalhe6
{
    border-color: #B5B5B5; 
	
}

#filtroDetalhe .botaoFiltrar
{
	
	float:right; 
	position:absolute;  
	right: 30px;
	top:195px; 	
	border-color: #B5B5B5; 
	
	
}