﻿/*---------------------------*/
/* GERAL
/*---------------------------*/

#site_relatorio_conferencia_vendas
{
    padding: 20px;
    line-height: 20px;
    vertical-align: middle;
}

#resultado_relatorio
{
    padding: 5px;
}

#site_relatorio_conferencia_vendas select, label
{
    width: 100%;
}

#site_relatorio_conferencia_vendas input[type=text]
{
    width: 80%
}

#site_relatorio_conferencia_vendas li
{
    list-style-type: none;
    display: inline-block;
}

#site_relatorio_conferencia_vendas ul
{
    padding-top: 4px;
}

#site_relatorio_conferencia_vendas .botoes
{
    padding: 20px;
    padding-left: 70%;
    text-align: right;
}

#site_relatorio_conferencia_vendas .tituloFiltro
{
    margin: 20px;
    font-size: small;
    font-weight: bolder;
}

#site_relatorio_conferencia_vendas .borda
{
    padding: 10px;
    border-style: dotted;
    border-color: Gray;
    border-width: thin;
}

#filtroPeriodo, #filtroStatus
{
    padding-top: 25px;
}

li
{
    height: 20px
}

ul
{
    height: 25px
}

select
{
    height: 22px
}
/*---------------------------*/
/* LABELS
/*---------------------------*/

.label_detalhe1, .label_status1
{
    padding-right:63px;
}

.label_detalhe_estabelecimento
{
    padding-right:7px;
}

.label_detalhe_referencia
{
    padding-right:37px;
}

.label_detalhe2, .label_status2
{
    /*width: 110px;*/
    padding-left: 15px;
}

.label_detalhe3
{
    /*width: 100px;*/
    padding-left: 15px;
}

.label_Data
{
    width: 150px;
}

.label_Data1
{
    padding-left:40px;
}

.label_data
{
    width: 20px;
    padding-left: 15px;
}
.label_consolidacao
{
    padding-left:850px;
    font-weight:bold;
}
.vertical_line
{
    border-left-style: dotted;
    border-left-color: Gray;
    border-left-width: thin;
    height:160px;
    margin-left:860px;
    margin-top:-160px;
    
}

/*---------------------------*/
/* CAMPOS
/*---------------------------*/

.campo_detalhe1, .campo_detalhe3, .campo_detalhe2, .campo_status1, .campo_status2
{
    width: 120px;
}

.campo_data
{
    width: 120px;
    padding-left: 10px;
}

.campo_detalhe_estabelecimento
{
    width:318px;
}

.campo_detalhe_favorecido
{
    padding-left:29px;
}
/*---------------------------*/
/* options
/*---------------------------*/
.chk_consolidacao
{
    margin-left:210px;
}
.chk_consolidacao1
{
    padding-left:437px;
}

.chk_consolidacao2
{
	padding-left:342px;
}
.chk_consolidacao3
{
	padding-left:536px;
}