﻿#site_configuracao_taxa_recebimento_detalhe li
{
    list-style: none;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}

#site_configuracao_taxa_recebimento_detalhe label, input[type=text], select
{
    width: 100%;
}

#site_configuracao_taxa_recebimento_detalhe label
{
    font-weight:bold;
}
#site_configuracao_taxa_recebimento_detalhe select
{
    width: 170px;
}
#site_configuracao_taxa_recebimento_detalhe input
{
    width: 70px;
}