﻿/********************/
/* GERAL            */
/********************/

#site_relatorio_vencimento
{
    padding: 20px;
    line-height: 20px;
    vertical-align: middle;
}

#site_relatorio_vencimento select, label
{
    width: 100%;
}

#site_relatorio_vencimento input[type=text]
{
    width: 80%
}

#site_relatorio_vencimento li
{
    list-style-type: none;
    display: inline-block;
}

#site_relatorio_vencimento ul
{
    padding-top: 4px;
}

#site_relatorio_vencimento .botoes
{
    padding: 20px;
    padding-left: 70%;
    text-align: right;
}

#site_relatorio_vencimento .tituloFiltro
{
    margin: 20px;
    font-size: small;
    font-weight: bolder;
}

#site_relatorio_vencimento .borda
{
    padding: 10px;
    border-style: dotted;
    border-color: Gray;
    border-width: thin;
}

#filtroPeriodo, #filtroStatus
{
    padding-top: 25px;
}

/********************/
/* LABELS           */
/********************/

.label_detalhe1, .label_status1
{
    padding-right:52px;
}
.label_detalhe_favorecido
{
    padding-right:26px;
}

.label_detalhe_status_cessao
{
    padding-right:4px;
}
.label_detalhe2, .label_status2
{
    padding-left: 15px;
}

.label_detalhe3
{
    padding-left: 15px;
}

.label_detalhe_dataposicao
{
    margin-left: 270px;
}

.label_Data
{
    width: 150px;
}
.label_Data2
{
    padding-left:30px;
}
.label_Data3
{
    padding-right:11px;
}
.label_data
{
    width: 20px;
    padding-left: 15px;
}

.label_consolidacao
{
    margin-left: 90px;
    font-weight:bold;
}
.label_retorarpago
{
    margin-left: 470px;
    font-weight:bold;
}

.label_detalhe4
{
    padding-left: 3px;
}

/********************/
/* CAMPOS           */
/********************/

.campo_detalhe1, .campo_detalhe3, .campo_detalhe2, .campo_status1, .campo_status2
{
    width: 170px;
}

.campo_data
{
    width: 120px;
    padding-left: 10px;
}
.campo_detalhe_favorecido
{
    width:420px;
}
.campo_sessao
{
    width: 130px;
    padding-left: 3px;
}

/********************/
/* BLOCO STATUS     */
/********************/

.chk_consolidacao
{
    margin-left: 45px;
    margin-top: -20px;
}
.chk_consolidacao1
{
    margin-left:53px;
    margin-top: -15px;
}

.chk_consolidacao2
{
    margin-left:45px;
 }

