﻿/********************/
/* GERAL            */
/********************/

#site_relatorio_consolidado
{
    /*padding: 20px;*/ /* Jira SCF1064 -Marcos Matsuoka */
    line-height: 20px;
    /*vertical-align: middle;*/
}

#site_relatorio_consolidado select, label
{
    /*width: 100%;*/
}

#site_relatorio_consolidado input[type=text]
{
    width: 80%
}

#site_relatorio_consolidado li
{
    list-style-type: none;
    display: inline-block;
    height:20px;
}

#site_relatorio_consolidado ul
{
    /*padding-top: 4px;Jira SCF1064 -Marcos Matsuoka */
}

#site_relatorio_consolidado .botoes
{
    padding: 20px;
    padding-left: 70%;
    text-align: right;
}

#site_relatorio_consolidado .tituloFiltro
{
    /*margin: 20px;
    font-size: small;Jira SCF1064 -Marcos Matsuoka */
    font-weight: bolder; 
}

#site_relatorio_consolidado .borda
{
    /*padding: 10px;
    border-style: dotted;
    border-color: Gray;
    border-width: thin;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

#filtroPeriodo, #filtroStatus
{
    /*padding-top: 25px;*/ /* Jira SCF1064 -Marcos Matsuoka */ 
}

/********************/
/* LABELS           */
/********************/

.label_detalhe2
{
    /*padding-left: 20px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.label_produto
{
	position:relative;
	left:2px;
    /*padding-left: 47px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.label_referencia
{
	position:relative;
	left:2px;
	width:120px;
    /*padding-left: 47px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.label_layout
{
	position:relative;
	left:2px
	/*padding-left: 670px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.label_layout2
{
	position:relative;
	left:2px
	/*padding-left: 50px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

/********************/
/* CAMPOS           */
/********************/

.campo_produto
{
    /*padding-left: 64px;*/
}

.campo_referencia
{
    width: 180px;
}

.campo_estabelecimento
{
	width: 120px;
	position:absolute;
    /*padding-left: 16px; /* Jira SCF1064 -Marcos Matsuoka 
    height: 25px;*/
}

.campo_tipo_registro
{
	/*padding-left: 20px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.campo_venda
{
	position:relative;
	left:95px
	/*padding-left: 30px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.campo_recebimento
{
	position:relative;
	left:10px	
	/*padding-left: 66px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.campo_CCI
{
	position:relative;
	left:20px	
	/*padding-left: 890px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}
/********************/
/* BLOCO STATUS     */
/********************/
.chk_box
{
	padding-left: 12px;
}

.chk_VendaQtde
{
	position:relative;
	left:250px /* Jira SCF1064 -Marcos Matsuoka
	/*padding-left:707px;*/
}

.chk_RecebimentoQtde
{
	position:relative;
	margin-bottom:2px;
	left:30px	
	
	/*padding-left: 20px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}

.rdo_total1
{
	position:relative;
	left:43px /* Jira SCF1064 -Marcos Matsuoka 
	padding-left: 29px;*/ 
}

.rdo_total2
{
	position:relative;
	left:7px /* Jira SCF1064 -Marcos Matsuoka 
	padding-left: 40px;*/ 
}

.cmb_StatusCCI
{
	margin-bottom:3px;
	/*padding-left: 10px; Jira SCF1064 -Marcos Matsuoka */
}

.vertical_line
{
    border-style: dotted;
    border-color: Gray;
    border-width: thin;
    height:		 150px;
    width:		 175px;
    margin-left: 725px;
    margin-top: -158px;
}

.vertical_line2
{
    border-style: dotted;
    border-color: Gray;
    border-width: thin;
    height:		 150px;
    width:		 215px;
    margin-left: 905px;
    margin-top: -152px;
}

.horizontal_line
{
    border-top-style: dotted;
    border-top-color: Gray;
    border-top-width: thin;
    width:			 175px;
    margin-left:	 725px;
    margin-top:		-25px;
}

.horizontal_line2
{
    border-top-style: dotted;
    border-top-color: Gray;
    border-top-width: thin;
    width:			 215px;
    margin-left:	 905px;
    margin-top:		-21px;
}