﻿#site_configuracao_produto_detalhe
{
    margin: 20px;
}

#txtDescricaoProduto
{
    height: 40px;
     
}

#produto_tabDetalhe input
{
    width: 286px;
}

#produto_tabDetalhe textarea
{
    width: 285px;
}

.formProduto tr
{
    vertical-align: top;
}

.formProduto
{
    width: 530px;
}

.selectbutton
{
	width:30px;
	height:30px;
}

.up
{
	background-image:url('img/UpArrow.gif') !important;
}
.down
{
	background-image:url('img/DownArrow.gif') !important;
}
.all_up
{
	background-image:url('img/AllUpArrow.gif') !important;
}
.all_down
{
	 background-image:url("img/AllDownArrow.gif") !important;
}