﻿/*---------------------------*/
/* GERAL
/*---------------------------*/

#site_relatorio_transacoes
{
    padding: 5px;
    padding-bottom: 3%;
    line-height: 20px;
    vertical-align: middle;
    overflow:hidden;
}

#resultado_relatorio
{
    padding: 5px;
}

#site_relatorio_transacoes select, label, 
#txtNumeroPagamento
{
    width: 100%;
}
#txtContaCliente /*1438*/
{
    width: 100%;
}
#filtroPeriodo input[type=text]
{
    width: 80%
}

#site_relatorio_transacoes li
{
    list-style-type: none;
    display: inline-block;
}

#site_relatorio_transacoes ul
{
    padding-top: 4px;
}

#site_relatorio_transacoes .botoes
{
    padding: 5px;
    text-align: right;
}

#site_relatorio_transacoes .tituloFiltro
{
    margin: 20px;
    font-size: small;
    font-weight: bolder;
}

#site_relatorio_transacoes .borda
{
    padding: 10px;
    border-style: dotted;
    border-color: Gray;
    border-width: thin;
}

#filtroPeriodo, #filtroStatus
{
    padding-top: 5px;
}

/*---------------------------*/
/* LABELS
/*---------------------------*/

.label_detalhe1, .label_status1
{
    width: 140px;
}

.label_detalhe2, .label_status2, .label_statusTran
{
    width: 110px;
    padding-left: 15px;
}

.label_detalhe3
{
    width: 100px;
    padding-left: 15px;
}

.label_Data
{
    width: 150px;
    
}

.label_data
{
    width: 20px;
    padding-left: 15px;
}

.label_Data2
{
    width: 150px;
    margin-left: 10px;
    
}
.label_referencia
{
	position:relative;
	left:2px
    /*padding-left: 47px;*/ /* Jira SCF1064 -Marcos Matsuoka */
}


/*---------------------------*/
/* CAMPOS
/*---------------------------*/

.campo_detalhe1, .campo_detalhe3, .campo_detalhe2, .campo_status1, .campo_status2, .campo_statusTran
{
    width: 170px;
}

.campo_data
{
    width: 120px;
    padding-left: 10px;
}

/*---------------------------*/
/* BLOCO STATUS
/*---------------------------*/