﻿#site_subgrupo_detalhe li
{
    list-style: none;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}

#site_subgrupo_detalhe label, input[type=text], select
{
    width: 100%;
}

.labelDetalhe1
{
    width: 70px;
}


.campoDetalhe1
{
    width: 270px;
    padding-left: 5px;
}