﻿#site_configuracao_geral
{
    line-height: 25px;
}

#site_configuracao_geral input
{
    width: 100%;
}


input[type="text"] {
    width:  100%;
}

label
{
    display: inline-block;
    width: 100%;
}