﻿<%@ Page Title="" Language="C#" MasterPageFile="~/template_default.Master" AutoEventWireup="true" %>

<asp:Content ID="head" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" src="site_home.js"></script>
    <link href="site_home.css" rel="stylesheet" type="text/css" />
    <title>SCF - Home</title>
</asp:Content>

<asp:Content ID="content" ContentPlaceHolderID="content" runat="server">
</asp:Content>
