﻿#site_critica_detalhe .detalhe span
{
    width: 100px;
}

.tituloCriticaPropriedade
{
    width: 200px; 
    display: block; 
    color: darkblue; 
    background-color: #E0E0E0;
    font-weight: bold;
    padding: 2px 0 2px 4px;
}