﻿#site_configuracao_geral
{
    line-height: 20px;
    /*margin: 10px;*/
}

#site_configuracao_geral input
{
    width: 80px;
}

#site_configuracao_geral select
{
    width: 70px;
}

#site_configuracao_geral .hora
{
    width: 30px;
}

#site_configuracao_geral .diretorio
{
    width: 400px;
}


label
{
    display: inline-block;
    margin-left: 3px;
    /*width: 210px;*/
}

#site_configuracao_geral .subtitulo
{
    font-weight: bold;
}

#tableCaptura
{
    width:588px;
}

#tableCaptura .label
{
    width: 30%;
}

#labelCaptura
{
    width: 300px;
}

#configuracao_geral_tabs
{
    height: 400px;
    border: 0;
}

#botaoSalvar
{
    margin-left: 20px;
}

#tableLeituraProcesso
{
    width: 598px;
}

#labelDiasVencidos
{
    width: 135px;
    text-align: right;
}

#txtDiasVencidos
{
    width: 80px;
}
