﻿#site_processo_cessao .detalhe
{
    background-color: #f5f5f5;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 10px;
    line-height: 24px;
}

#site_processo_cessao .detalhe label
{
    display: inline-block;
    width: 120px;
}

#site_processo_cessao .detalhe .inputLeft
{
    padding: 3px;
    width: 490px;
}

#site_processo_cessao .detalhe .inputRight
{
    padding: 3px;
    width: 230px;
    margin-left: 50px;
}

#site_processo_cessao .detalhe span.separador
{
    display: inline-block;
    width: 30px;
}

#labelDiretorio 
{
    margin-left: 123px;
}

#labelNomeArquivo
{
    margin-left: 428px;
}