﻿#site_processo_detalhe .cabecalho,
#site_processo_detalhe .resumoProcesso
{
    background-color: #f5f5f5;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 10px;
    line-height: 24px;
}

#site_processo_detalhe .cabecalho label,
#site_processo_detalhe .resumoProcesso label
{
    display: inline-block;
    width: 120px;
}

#site_processo_detalhe .cabecalho input,
#site_processo_detalhe .resumoProcesso input
{
    padding: 3px;
    width: 200px;
}

#site_processo_detalhe .cabecalho span.separador,
#site_processo_detalhe .resumoProcesso span.separador
{
    display: inline-block;
    width: 30px;
}

#site_processo_detalhe_aba_detalhe .estagio
{
    height: 220px;
    display: none;
}

#site_processo_detalhe_aba_detalhe .estagioAtual
{
    display: block;
}

#workflow_cmdProximo,
#workflow_cmdAnterior
{
    width: 250px;
}

h1 
{
}

h2
{
    font-family: Tahoma;
    font-size: 10px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px;
}