﻿/*---------------------------*/
/* GERAL
/*---------------------------*/

#site_relatorio_saldo_conciliacao
{
    padding: 20px;
    line-height: 20px;
    vertical-align: middle;
}

#resultado_relatorio
{
    padding: 5px;
}

#site_relatorio_saldo_conciliacao select, label
{
    width: 100%;
}

#site_relatorio_saldo_conciliacao input[type=text]
{
    width: 80%
}

#site_relatorio_saldo_conciliacao li
{
    list-style-type: none;
    display: inline-block;
}

#site_relatorio_saldo_conciliacao ul
{
    padding-top: 4px;
}

#site_relatorio_saldo_conciliacao .botoes
{
    padding: 20px;
    padding-left: 70%;
    text-align: right;
}

#site_relatorio_saldo_conciliacao .tituloFiltro
{
    margin: 20px;
    font-size: small;
    font-weight: bolder;
}

#site_relatorio_saldo_conciliacao .borda
{
    padding: 10px;
    border-style: dotted;
    border-color: Gray;
    border-width: thin;
}


#filtroPeriodo
{
    padding-bottom: 10px;
}

/*---------------------------*/
/* LABELS
/*---------------------------*/

.label_data_titulo
{
    width: 150px;
}

.label_data
{
    width: 20px;
    padding-left: 15px;
}


/*---------------------------*/
/* CAMPOS
/*---------------------------*/


.campo_data
{
    width: 120px;
    padding-left: 10px;
}

/*---------------------------*/
/* BLOCO STATUS
/*---------------------------*/