﻿*
{
    margin: 0;
}

body
{
    margin: 0;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    height: 100%;
    overflow: auto;
    color: #212121;
    padding: 0px;  
}

html
{
    overflow: hidden;
    height: 100%;
}

form#frmMain
{
    padding: 0;
    margin: 0;
}

form.cmxform label.invalido
{
    color: Red;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a img {
	border: none;
}

/* Header */

#header {
	width: 100%;
	margin: 0px auto;
	/*background: #FE9900;*/
}

#header a {
	text-decoration: none;
	color: #0F3193;
}

#header ul {
	margin: 0 0 0 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#lateralHeader {
  float: left;
}

#tituloId {
  font-size: 1.8em;
  font-weight: bold;
  padding: 12px 0px 20px 0px;
  color: #FE9900;
}

#tituloId a {
  position: absolute;
  margin-left: -190px;
  color: #FE9900;
  text-align:right;
}

#baseDe {
  font-size: 0.8em;
  padding: 12px 0px 20px 0px;
  color: #FE9900;
  
}

#boasVindasId{
  position: absolute;
  margin-left: 31.3%;
  margin-top: 2.6%;
  color: #0F3193;
  text-align:center;
}

#versaoId{
  position: absolute;
  margin-left: 60.6%;
  margin-top: 2.6%;
  color: #0F3193;
  text-align:center;
}

/* Logo */

#logo {
	padding: 20px 20px 20px 20px;
	margin-left: 30%;
	margin-top: -10px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

/* Menu */

.span {
	padding: 12px 20px 0px 20px;
}

.spanBemVindo {
	padding: 12px 0px 0px 20px;
}

.blue {
	color:#0F3193;
}

div#main
{
    min-height: 100%;         
    height:     auto !important;         
    height:     100%;         
    margin:     0 auto -27px;
}

div#conteudo
{
    right: 0;
    background-color: White;
    margin-left:3px;
    padding: 25px;
    overflow: auto;
}

div#rodape, div#push
{
    height: 10px;
}

div#rodape
{
    border-style: solid none none none;
    background-color: white;
    color: #003399;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    font-size: x-small;
    border-top-width: medium;    
    border-top-color: #A6C2FF;
}


div#subMenu 
{
    height: 20px;
    background-color: white;
    background-image: url(img/barCinzaClaro.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    border-bottom: solid 1px lightgray;
    padding: 2px 20px 2px 20px;
    vertical-align: middle;
}

img#icone1
{
    vertical-align: middle;
}

label#subtitulo
{
    vertical-align: middle;
    margin: 0px 0px 0px 0px;
    font-family: Arial;
    font-size: 18px;
    width: 400px;
}

/* -------------------------------------------------------------------- */

.cmxform fieldset {
    margin-bottom:0px;
}
.cmxform legend {
    font-weight:bold;
    padding:0 2px;
}

.cmxform label {
    display:inline-block;
    line-height:1.5;
    vertical-align:top;
    color: #666666;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
}
.cmxform fieldset ol {
    margin:0;
    padding:0;
}
.cmxform fieldset li {
    list-style:none outside none;
    margin:0;
    padding:5px;
}
.cmxform fieldset fieldset {
    border:medium none;
    margin:3px 0 0;
}
.cmxform fieldset fieldset legend {
    font-weight:normal;
    padding:0 0 5px;
}
.cmxform fieldset fieldset label {
    display:block;
    width:auto;
}
.cmxform em {
    color:#FF0000;
    font-style:normal;
    font-weight:bold;
}
.cmxform label {
    width:250px;
}
.cmxform fieldset fieldset label {
    margin-left:123px;
}

/* -------------------------------------------------------------------- */

.cmxform {
    /* font: 62.5% Verdana,Sans Serif; */
    padding:0 10px;
    color:#333333;
    /* font-size:0.9em; */
    width:95%;
}
.cmxform legend {
    padding-left:0;
}
.cmxform legend, form.cmxform label {
    color:#333333;
}
.cmxform fieldset {
    /* background:url("../img/cmxform-fieldset_laranja.jpg") repeat-x scroll left bottom transparent; //1477 */
    border-color:black -moz-use-text-color -moz-use-text-color;
    border-right:medium none;
    border-style: solid none none;
    border-width: 0px medium medium;
}
.cmxform fieldset fieldset {
    background:none repeat scroll 0 0 transparent;
}
.cmxform fieldset li {
    /* background:url("../img/cmxform-divider.gif") repeat-x scroll left bottom transparent; //1477 */
    padding:5px 0px 0px;
}

/* ---- SPLITTER ---------------------------------------------------------------- */

input[type="text"]
{
    border: solid 1px #cccccc;
    padding: 0;
}

.vsplitbar {
	width: 5px;
	background: #aaa;
	background-image: url(img/splitter/vgrabber.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.splitter 
{
	height: 150px;
	width: 100%;
	border: 0px solid #aaa;
}

.splitter div
{
    overflow: auto;
}



.ui-widget 
{
    font-size: 0.9em;
}

.ui-dialog
{
    padding: 0;
    border-width: 2px;
    border-color: #313131;
}

.ui-dialog .ui-dialog-titlebar 
{
    border: 0;
    padding: 0 1em;
}

.ui-dialog .ui-dialog-buttonpane
{
    padding: 0 1em;
}

.panelHeader
{
    background-color: #333333;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    color: #FFFFFF;
}

.jqgrow td
{
    cursor: pointer;
}

.ui-widget-content
{
    background: white;
}

.ui-corner-all
{
    -moz-border-radius: 0;
}

.ui-state-default, .ui-dialog .ui-state-default
{
    font-weight: normal;
}

.ui-button
{
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.ui-button .ui-button-text
{
    padding: 0.12em 1.5em;
}

.ui-dialog .ui-dialog-buttonpane
{
    border-width: 0;
    padding: 0 2em;
}

.ui-dialog .ui-dialog-titlebar-close
{
    display: none;
}

.ui-widget-overlay {
    background: url("img/ui-bg_diagonals-thick_20_666666_40x40.png") repeat scroll 50% 50% #666666;
    opacity: 0.15;
}

.ui-tabs-nav
{
    background: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px #999999;
}

.ui-jqgrid .ui-jqgrid-titlebar
{
    padding: 0 0.3em 0 0.7em;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0.3em 1em;
}

.ui-tabs-nav li
{
    -moz-border-radius: 0;
}


.ui-jqgrid .ui-widget-header
{
    background-position: #81E9A3;
    background-image: url("img/bar.png");
    border: 0;
    -moz-border-radius: 0;
}

.ui-dialog-content > .ui-widget-content
{
    border: 0;
}



/* ---------------------------------------------------  */
/* tratamento de todos os labels que fazem parte da classe formulario */

.formulario {
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    margin-left:-20px;
}
    

.formulario .div-direita 
{       
    display:block;
    float:left;
    left:350px;    
    margin-right:-340px;    
    position:relative;    
    width:300px;
    
}

.formulario label
{
	padding-left:20px;
	vertical-align:middle;
}

.formulario button
{
	margin-left:20px;
}



/* tratamento de todos os selects que fazem parte da classe formulario */
.formulario select {
    width: 100px;
    margin-top: 4px;
}

/* tratamento de todos os inputs que fazem parte da classe formulario */
.formulario input 
{
	width: 100px;
    margin-top: 4px;
}

/* tratamento dos textos com tamanho de 100 */
.formulario .texto-longo {
    width: 610px;
}


.lista
{
	padding-top:10px;
	
}

.lista button
{
	margin-top:15px;
}

.lista .botoes
{
	margin-right:4px;
	text-align:right;
}

.relatorio
{
	 padding-top:10px;
}

.relatorio button
{
	margin-top:5px;
}	

.teste
{
	margin-top:5px;
	margin-right:-2px;
	text-align:right;
}

.select
{
	width:200px;
}


/* ---------------------------------------------------  */
/* tratamento de todos os labels que fazem parte da classe filtro */



/* tratamento de todos os selects que fazem parte da classe formulario */
.filtro select {
    width: 150px;    
}

/* tratamento dos textos com tamanho de 100 */
.filtro .texto-longo {
    width: 610px;
}

/* tratamento dos textos com tamanho de 50 */
.filtro .texto-medio {
    width: 300px;
}



.header_formulario label
{
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    line-height: 1;
    color: #999999;
}


.formulario2 label
{
    display: block;                
    position: relative;
    text-align: right;    
    color: #999999;
    
}

.formulario2 div
{
    padding:0;
    
}

.header_formulario select {
    
    margin-top: 2px;
    margin-bottom: 2px;
    
}

.ui-dialog-titlebar
{
    background-image: url("img/bar.png");
    color: White;
    font-weight: bold;
    height: 18px;
    margin: 0 0 2px;
    padding: 3px 0 2px 4px;
}

.botao
{
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #FE9900;
    border: 1px solid #FE9900;
    color: #FFFFFF;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-size: 1em;
    font-family: Verdana,Arial,sans-serif;
}

.barCinza
{
    border-right-style: solid;
    border-right-width: 1px;
    color: White;
    text-align: center;
    background-image: url("img/barCinza.png");
}

.divFormulario
{
    margin: 10px 10px 10px 10px;
}

.itemFormulario
{
    margin-bottom: 5px;
}

.marginBotao
{
    margin-top:10px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
    background-image: url("img/barLaranja.png");
}

.ui-jqgrid 
{
    border-color: #A0A0A0
}